body {
    background: url("images/bg.png") no-repeat fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 50px;
    padding-bottom: 50px;
    background: rgba(200, 200, 200, 0.8);
}
.index{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tittle {
    text-align: center;
    margin-top: 5%;
    padding-bottom: 8%;
}

.pokename {
    text-align: center;
    margin-top: 5%;
    padding-bottom: 8%;
}

.checkboxes input {
    margin: 0 5px 0 0;
}

.generatebutton {
    width: 8%;
    height: 20px;
    margin-left: 46%;
    margin-top: 5%;
}

.imgcontainer {
    height: 300px;
}

img {
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pokecontainer {
    margin-top: 5%;
}